Flask
Werkzeug
Jinja2
MarkupSafe
itsdangerous
click
SQLAlchemy
Flask-SQLAlchemy
Flask-Mail
python-dotenv
requests
pandas
langchain
langchain-openai
langchain-deepseek
langchain-google-genai
langchain-groq
